{
  "extends": ["wesbos"],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true
      }
    ]
  }
}
